@font-face {
	src: url(/resources/fonts/MaisonNeue-Demi.otf);
	font-family: maison;
	font-weight: 600;
}

@font-face {
	src: url(/resources/fonts/Manrope-Medium.ttf);
	font-family: manrope;
	font-family: 600;
}
