@import 'theme';

body {
	background-color: #0e0f10;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	user-select: none;
	overflow-x: hidden;
	max-width: 100%;
}

.main-wrapper {
	position: relative;
	margin: 0 auto;
	width: 80vw;
	height: min-content;

	.hero {
		margin-top: 0vh;
		text-align: center;
		.heading {
			img {
				height: 60%;
				width: 60%;
			}
		}
	}

	.components {
		display: flex;
		gap: 20px;
		margin-top: -8vh;
		.col {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 24%;
			height: 100%;
		}
	}
}
